{% extends 'layouts/base.html' %}




{% block main %}
    <main>
        <div class="container">
            <div class="payment-successful">
            <h2>გადახდა წარმატებულია! </h2>
            <p>შეკვეთის სტატუსის შესახებ ინფორმაცია იხილეთ თქვენს პროფილში, 
                <a href="profile.html#myorders">შეკვეთების ჩანართში</a></p>
            </div>
            <div class="payment-unsuccessful">
                <h2>გადახდა ვერ განხორციელდა</h2>
                <p>გთხოვთ, 
                    <a href="cart.html">სცადეთ ხელახლა</a> </p>
                </div>
        </div>
    </main>
    {% endblock %}