{% extends 'layouts/base.html' %}

{% block main %}
<main>
    <div class="container profile-container">
        <h1>{{_('ჩემი ანგარიში')}}</h1>
        <details>
            <summary>{{_('პერსონალური ინფორმაცია')}}</summary>
            <form method="post" class="summary-inner">
                {{ form.hidden_tag() }}
                <div class="personal-data">
                    <label id="email" for="umail">{{_('ელფოსტა')}}</label>
                    {{ form.email(class='editableinfo', value=current_user.email ) }}
                </div>
                <div class="personal-data">
                    <label id="phonenumber" for="uphone">{{_('ტელეფონის ნომერი')}}</label>
                    {{ form.phone(class='editableinfo', value=current_user.phone ) }}
                </div>
                <div class="personal-data">
                    <label id="fullname" for="ufullname">{{_('სახელი და გვარი')}}</label>
                    {{ form.fullname(class='editableinfo', value=current_user.first_name +' '+ current_user.last_name)
                    }}
                </div>
                <button type="submit">{{_("შენახვა")}}</button>
            </form>
        </details>
        <details>
            <summary>{{_('ჩემი შეკვეთები')}}</summary>
            {% for order in orders %}
                <details class="order">
                    <summary class="order-info">
                        <div>
                            <span>{{_('შეკვეთის ნომერი')}}:</span>
                            <span class="order-detail">{{order.order_id}}</span>
                        </div>
                        <div class="order-status">
                            <span>{{_('შეკვეთის სტატუსი')}}:</span>
                            <span class="status-defined">{{order.order_status}}</span>
                        </div>
                        <div>
                            <span>{{_('შეკვეთის თარიღი')}}:</span>
                            <span class="order-detail">{{order.order_date}}</span>
                        </div>
                    </summary>
                    <div class="summary-inner">
                            {% for toy in toys %}
                                {% if (toy.id | string) in order.ordered_toys.split(',') %}
                                    <div class="order-inner">
                                        <div class="order-image">
                                            <img src="{{ url_for('static', filename='img/products/' + toy.photo) }}" alt="purple bunny toy">
                                        </div>
                                        <div class="order-product">
                                            {% if session['locale'] == 'KA' %}
                                                <span>{{ toy.name_eng }}</span>
                                            {% else %}
                                                <span>{{ toy.name_geo }}</span>
                                            {% endif %}

                                            <span>{{toy.price}}ლ</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        <div class="order-recipient">
                            <span>{{_('მიმღები')}}:</span>
                            <span>{{order.customer_info}}</span>
                        </div>
                        <div class="order-address">
                            <span>{{_('მისამართი')}}:</span>
                            <span>ვაკე, ზ.ფალიაშვილის 38</span>
                        </div>
                    </div>
                </details>
            {% endfor %}

        </details>
    </div>

</main>
{% endblock %}